@model CrudParisina.Models.Empleado

@{
    ViewData["Title"] = "Details";
}

<div class="container text-center mt-5" style="border: 2px solid #a48004; padding: 20px; border-radius: 10px; max-width: 40%; padding: 20px; background-color: white;">
    <h1>Detalles</h1>

    <div>
        <h4>Empleado</h4>
        <hr style="color: #a48004" />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoEmpleado)
        </dd>
        
    </dl>
</div>
<div>
        <a asp-action="Index" class="btn btn-outline-secondary btn-sm mb-3">Regresar</a>
        <a asp-action="Edit" asp-route-id="@Model?.IdEmpleado" class="btn btn-personalizado btn-sm mb-3">Editar</a>
</div>
