@model CrudParisina.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<div class="container text-center mt-5" style="border: 2px solid #a48004; padding: 20px; border-radius: 10px; max-width: 50%; padding: 20px; background-color: white;">
 

    <h3>¿Deseas elimiar este cliente?</h3>
    <div>
        <hr style="color: #a48004" />
    <dl class="row">
        <dt class = "col-sm-2">
            Usuario
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt class = "col-sm-2">
           Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCliente)
        </dd>
        <dt class = "col-sm-2">
             Documento
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.TipoDocumento) @Html.DisplayFor(model => model.NumeroDocumento)
            </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            Estado
        </dt>
            <dd class="col-sm-8">
                @(Model.EstadoClientes == true ? "Activo" : "Inactivo")
            </dd>
    </dl>
    <br />
    
   
     <form asp-action="Delete">
        <a asp-action="Index" class="btn btn-outline-secondary btn-sm">Regresar</a>
        <input type="hidden" asp-for="IdCliente" />
        <input type="submit" value="Eliminar" class="btn btn-danger btn-sm" />
     </form>
    
</div>
</div>
