@using CrudParisina.Data
@*@model IEnumerable<CrudParisina.Usuario>*@
@model Paginacion<Usuario>

@{
    ViewData["Title"] = "Index";
}
<div class="container text-center mt-5" style="border: 2px solid #a48004; padding: 20px; border-radius: 10px; max-width: 60%; padding: 20px; background-color: white;">
<h1>Lista de Usuarios</h1>
    <hr style="color: #a48004" />

<div class="d-flex justify-content-between align-items-center">
<p class="m-0">
   <a asp-action="Create" class="btn btn-personalizado btn-sm">Crear usuario</a>
</p>

<form asp-controller="Usuarios" asp-action="Index" class="m-0">
    <p class="m-0">
        Buscar: <input type="text" name="buscar" value="@ViewData["FiltroActual"]" class="form-text" />
        <input type="submit" value="buscar" class="btn btn-sm btn-dark" />
        @*<a asp-action="Index" class="btn btn-outline-info">Lista completa</a>*@
    </p>
</form>
    </div>

<table class="table">
    <thead>
        <tr>
            <th>
                IdRol
            </th>
            <th>
                <!--Enlazamos cada columna a ordenar con el view data del controlador-->
                <a asp-action="Index" asp-route-ordenActual="@ViewData["FiltroCorreo"]" asp-route-filtroActual="@ViewData["FiltroActual"]">
                    Correo
                </a>
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdRol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @if (item.EstadoUsuario == true)
                    {
                     <text>Activo</text>
                     }
                     else
                     {
                     <text>Inactivo</text>
                     }
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-personalizado2 btn-sm" asp-route-id="@item.IdUsuario"><img src="~/icons/editar.png" alt="Mi Icono" width="20" /></a>
                    <a asp-action="Details" class="btn btn-personalizado2 btn-sm" asp-route-id="@item.IdUsuario"><img src="~/icons/detalle.png" alt="Mi Icono" width="20" /></a>
                    <a asp-action="Delete" class="btn btn-personalizado2 btn-sm" asp-route-id="@item.IdUsuario"><img src="~/icons/eliminar.png" alt="Mi Icono" width="20" /></a>
            </td>
        </tr>
}
    </tbody>
</table>




@{
    var anteriordeshabilitado = !Model.PaginasAnteriores ? "disabled" : "";
    var siguientedeshabilitado = !Model.PaginasPosteriores ? "disabled" : "";
}

<div>
    <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]" 
    asp-route-numpag="@(Model.PaginaInicio - 1)" asp-route-filtroActual="@ViewData["FiltroActual"]"
    class="btn btn-primary @anteriordeshabilitado">Anterior</a>
    @for (var i =1;  i<=Model.PaginasTotales; i++)
    {
        var paginaactiva = (i == Model.PaginaInicio) ? "active" : "";
        <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]" asp-route-numpag="@i"
        asp-route-filtroActual="@ViewData["FiltroActual"]" class="btn btn-primary @paginaactiva">@i</a>
    }

    <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]"
       asp-route-numpag="@(Model.PaginaInicio + 1)" asp-route-filtroActual="@ViewData["FiltroActual"]"
       class="btn btn-primary @siguientedeshabilitado">Siguiente</a>
</div>
</div>
