@model CrudParisina.Models.Producto

@{
    ViewData["Title"] = "Delete";
}

<div class="container text-center mt-5" style="border: 2px solid #a48004; padding: 20px; border-radius: 10px; max-width: 50%; padding: 20px; background-color: white;">
    <h1>Eliminar</h1>
    <h4>Producto</h4>

    <h3>Eliminar @Html.DisplayFor(model => model.NombreProducto)?</h3>
    <div>
        <hr style="color: #a48004" />
        <dl class="row">
            <div>
                <dd class="col-sm-12">
                    @if (Model.ImagenProducto != null && Model.ImagenProducto.Length > 0)
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ImagenProducto)" alt="Imagen del Producto" class="img-thumbnail" style="max-width: 200px; max-height: 200px;" />
                    }
                    @*<img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ImagenProducto)" alt="Imagen del Producto" style="max-width: 200px; max-height: 200px;"/>*@
                </dd>
            </div>
            <dt class="col-sm-4">
                Nombre
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.NombreProducto)
            </dd>
            <dt class="col-sm-4">
                Descripción
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.DescripcionProducto)
            </dd>
            <dt class="col-sm-4">
                Precio
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.PrecioProducto)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.EstadoProducto)
            </dt>
            <dd class="col-sm-8">
                @(Model.EstadoProducto == true ? "Activo" : "Inactivo")
            </dd>
            <dt class="col-sm-4">
                Categoría
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.IdCategoriaNavigation.NombreCategoria)
            </dd>
        </dl>

        <form asp-action="Delete">
            <a asp-action="Index" class="btn btn-outline-secondary btn-sm">Regresar</a>
            <input type="hidden" asp-for="IdProducto" />
            <input type="submit" value="Eliminar" class="btn btn-danger btn-sm" />
        </form>
    </div>

</div>

